header {
    background: rgb(4, 3, 77);
}

h1{
    display: inline;
}

#logo{
    margin-left: 150px;
    display: inline;
    width: 250px;
}

nav{
    display: inline-block;
}

nav li {
    display: inline;
}