body {
    background: #c7807f;  
}

p{
    text-align:center;
}

#foto {
    padding-left: 35%;
    width: 30%;
}

#insp{
    font-size: 35px;
    color: #9d5353
}

#cor2{
    font-size: 32px; 
    color: #7b2e2b;
    border: 5px black solid;
    padding: 5px;
}

.itens {
    font-size: 30px;
}

ul{
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
}

#pict {
    width: 30%;
}
 item2 {
    width: 50%;
}
